<div class="row login-form">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-main" method="post" action='/sessions'>
      <h1 class="form-title">LOGIN</h1>
      <div class="form-group">
        <label for="user name">Username or Email Address</label>
        <input type="text" class="form-control" name="username_or_email" id="inputUsername" placeholder="Username or Email">
      </div>
      <!-- <div class="form-group">
        <label for="user email">Email address</label>
        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email">
      </div> -->
      <div class="form-group">
        <label for="user password">Password</label>
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </div>
</div>
