<section class="publicaciones-blog-home">
      <div class="container">
        <div class="">
          <h2>MusicalChips  <b>News</b></h2>
          <div class="row-page row">
            <div class="col-page col-sm-8 col-md-6">
              <a href="" class="black fondo-publicacion-home">
                <div class="img-publicacion-principal-home">
                  <img class="" src="http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/standing-tall--eastern-chipmunk-bruce-j-robinson.jpg">
                </div>
                <div class="contenido-publicacion-principal-home">
                  <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Lorem </span>
                </div>
              </a>
            </div>
            <div class="col-page col-sm-4 col-md-3">
              <a href=""  class="fondo-publicacion-home">
                <div class="img-publicacion-home">
                  <img class="img-responsive" src="http://assets.nydailynews.com/polopoly_fs/1.2467367.1450267785!/img/httpImage/image.jpg_gen/derivatives/article_750/alvin18f-1-web.jpg">
                </div>
                <div class="contenido-publicacion-home">
                  <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Lorem </span>
                </div>
              </a>
            </div>
            <div class="col-page col-sm-4 col-md-3">
              <a href="" class="fondo-publicacion-home">
                <div class="img-publicacion-home">
                  <img class="img-responsive" src="http://www.officialcharts.com/imagegen.ashx?image=/media/651184/major-lazer-dj-snake-1100.jpg&width=796">
                </div>
                <div class="contenido-publicacion-home">
                  <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Lorem </span>
                </div>
              </a>
            </div>
            <div class="col-page col-sm-4 col-md-3">
              <a href="" class="fondo-publicacion-home">
                <div class="img-publicacion-home">
                  <img class="img-responsive" src="https://www.spectrasonics.net/products/omnisphere/images/slideshow/Omnisphere-2-Slide-01.jpg">
                </div>
                <div class="contenido-publicacion-home">
                  <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Lorem </span>
                </div>
              </a>
            </div>
            <div class="hidden-sm col-page col-sm-4 col-md-3">
              <a href="" class="fondo-publicacion-home">
                <div class="img-publicacion-home">
                  <img class="img-responsive" src="http://diymag.com/images/uploads/teamghost970600.jpg">
                </div>
                <div class="contenido-publicacion-home">
                  <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Lorem </span>
                </div>
              </a>
            </div>
            <div class="hidden-sm col-page col-sm-4 col-md-3">
              <a href="" class="fondo-publicacion-home">
                <div class="img-publicacion-home">
                  <img class="img-responsive" src="http://serialkeygeneratorfree.com/wp-content/uploads/2016/01/FL-Studio-12-Crack-Free-Download.jpg">
                </div>
                <div class="contenido-publicacion-home">
                  <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                </div>
                <div class="mascara-enlace-blog-home">
                  <span>Lorem </span>
                </div>
              </a>
            </div>
            <div class="col-page col-sm-4 col-md-3">
              <a href="#" class="todas-las-publicaciones-home">
                  <span>Neque porro quisquam est qui dolorem ipsum</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
