<div class="row about-title">
  <div class="col-md-4 col-md-offset-4">
    <h2>About <b>MusicalChips</b></h2>
    <br>
  </div>
</div>
<div class="row about-section">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Lorem ipsum dolor sit amet, purus pretium sit vestibulum pretium nam donec. Fermentum quam corrupti magna amet, diam at proin nec sed eget dolor, sit cursus molestiae ut sem culpa, ut dapibus pharetra, adipiscing fringilla vivamus. Adipiscing ipsum sodales sed, etiam quis lacinia id duis, cras ante faucibus quisque. Diam fermentum nonummy integer eu vulputate, pharetra pede eu est quisque eu, nunc vestibulum vestibulum nibh pede nibh, et sed eget, turpis erat. Posuere mauris vestibulum vitae aliquam rerum, ab rhoncus odio et ante, ridiculus ac ut est tortor, nullam velit vestibulum vitae bibendum.
      </p><br>
      <p>
        Donec mattis vitae nonummy metus bibendum, inceptos libero nostra tellus tristique. Nec ipsum vivamus eget fringilla orci, risus vitae luctus integer quisque aliquam tristique, etiam suspendisse proin. Elit ipsum tristique dignissim nam, ut habitant, curae mattis netus mattis. Cursus sed mauris, non libero nibh, felis duis vestibulum eget turpis elementum lacus. Sed felis in, amet at et cras id nulla, ut tellus quis eleifend, eu blandit in, accumsan sed. Sed pede urna gravida lorem metus, diam a euismod et, per pretium dignissim sed vitae ligula ligula. Mollis semper at id, tellus mattis aliquam quis sed vero enim, elit per purus pellentesque, dui urna amet pulvinar id ligula mattis.
      </p><br>
        Lobortis nisi, eget velit velit semper nulla nullam imperdiet, sed eros quisque magna sem. Nunc mauris mattis, velit pellentesque vel. Cras turpis ligula a, fermentum gravida justo integer, nibh bibendum eleifend ligula, nec fames aptent urna. Elit dignissim posuere dignissim ligula bibendum eros, enim a urna maecenas. Dis ligula, vitae commodo vel sapien. Ligula amet scelerisque. Nulla rutrum, enim ac vivamus, rhoncus id, morbi ante dolor. Aliquam laoreet in tincidunt eros, ante donec magna, ut et at, id wisi eu mi. Vestibulum sed habitant orci, in tristique, at justo ultrices tortor sed mauris risus, non laboriosam nulla sociosqu integer, nam integer ac eu at phasellus nascetur. Arcu velit pharetra phasellus, mi augue elit. Est cursus ut, quis massa luctus, accumsan mattis praesent habitasse augue, nulla eget leo lectus.
      </p>
    </div>
</div>
